<!DOCTYPE html>
<html>
    <body>
        <form action="{{url_for('add_baker')}}" method="post">

        <h1>Baking Contest User Information</h1>


        <div>
        <label for="#">Name</label><br>
            <input type="text" id="Name" name="Name">
        </div>

        <div>
            <label for="#">Age</label><br>
                <input type="text" id="Age" name="Age">
        </div>

        <div>
            <label for="#">Phone Number</label><br>
                <input type="text" id="PhoneNumber" name="PhoneNumber">
        </div>

        <div>
            <label for="#">Security Level</label><br>
                <input type="text" id="SecurityLevel" name="SecurityLevel">
        </div>

        <div>
            <label for="#">Login Password</label><br>
                <input type="text" id="Password" name="Password">
        </div>
        <br>
            <button type="submit">Submit</button>
            <li><a href="/go_home">Go Home</a></li>

        </form>
        
    </body>
</html>



